.btn {
  border: 0;
  background: var(--color-accent-1);
  padding: 20px 28px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.btn:disabled {
  background: var(--color-greyscale-dark);
  color: var(--color-greyscale-light);
  cursor: not-allowed;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
