.page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.titlePane {
  width: 100%;
  text-align: center;
  background: var(--color-accent-4);
  color: white;
  padding: 24px 28px;
}

.titlePane h2 {
  margin: 0;
  font-size: 28px;
}

.contentPane {
  flex: 1;
}
