.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 18px 24px;
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

.header h1 > span {
  font-weight: 400;
}

.header p {
  flex-shrink: 1;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .header p {
    font-size: 16px;
  }

  .header p span::before {
    content: "\A";
    white-space: pre;
    text-align: right;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--color-accent-3);
}

.footer {
  padding: 18px 24px;
  background: var(--color-accent-2);
  color: var(--color-dark-text);
  box-sizing: border-box;
}

.footer p {
  margin: 0;
  text-align: center;
}

.footer p + p {
  margin-top: 16px;
  font-weight: 700;
}

.footer span {
  padding: 0 15px;
}
