/* Site wide styles and resets */

:root {
  /* Credit: https://www.canva.com/colors/color-palettes/middle-eastern-empire/ */
  --color-accent-1: #922c40; /* rose red */
  --color-accent-2: #dc9750; /* desert sun */
  --color-accent-3: #f3eac0; /* champagne */
  --color-accent-4: #1e2640; /* dark blue */

  --color-greyscale-dark: #66676e;
  --color-greyscale-light: #adaeb3;
  --color-dark-text: #222;

  /* Lacking inspiration right now, using classic goto Roboto */
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--font-family);
}

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
