/* Site wide styles and resets */
/* NOTE: Usually I would include some custom reset styles, but they will distract and bloat from the focus of this code test, so not including for this code test */
/* NOTE: These days I prefer to start with css (modules) and then switch to a pre-processor like sass if and only if need more features, in large projects like Seek will usually require */

:root {
  /* Credit: Seek. Colors! (I just picked a few from the real seek site) */
  --color-accent-1: #0d3880;
  --color-accent-2: #0a2a60;
  --color-accent-3: #2765cf;
  --color-neutral-1: #f7f8fb;
  --color-neutral-2: #f2f4f7;
  --color-neutral-3: #e6ecf6;

  /* Lacking inspiration right now, using classic goto Roboto */
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

div,
section {
  box-sizing: border-box;
}
